.skill_logo {
    padding-right: 50px;
    font-size: 50px;
    line-height: 58px;
}

.abilities {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.abilities_title {
    display: flex;
    padding-bottom: 20px;
    padding-left: 35px;
}

.abilities_element {
    list-style-type: none;
    margin: 0 auto;
    padding-bottom: 20px;
}

@media screen and (max-device-width: 1080px) {
    .abilities {
        flex-direction: column;
        padding: 0;
        width: max-content;
    }

    .abilities_element {
        padding: 0;
        margin: 10px 0;
    }
}