.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-bottom: 10px;
    column-gap: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    max-width: 250px;
    min-height: 375px;
    max-height: 375px;
    border: 2px dashed #3d99dd;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #3d99dd;
    background-color: white;
    transition: all 350ms ease-in-out;
}

article:hover {
    background-color: rgb(168, 227, 255);
    box-shadow: 0 0 15px #3d99dd;
    transition: all 350ms ease-in-out;
}

.projet_link {
    display: flex;
    flex-direction: column;
    opacity: 1;
    margin: 20px auto;
    min-height: 375px;
    max-height: 375px;
    align-items: center;
    text-decoration: none;
}

.projet_title {
    margin: 20px 0;
    text-decoration: underline;
    font-weight: bold;
}

.projet_logo {
    width: 150px;
    height: 150px;
    padding: 5px 5px;
    background-color:  whitesmoke;
    border: 1px solid #3d99dd;
    box-shadow: 0 0 5px black;
}

.projet_tech {
    color: rgb(0, 34, 74);
    font-weight: bold;
    padding: 0 5px;
    text-shadow: 0 0 3px #3d99dd;
}

.projet_description {
    color: black;
    font-style: italic;
    margin-top: 20px;
}

@media screen and (max-device-width: 1080px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    article {
        min-width: 325px;
        max-width: 325px;
    }
}