h1, h2, h3, h4, h5, h6 {
    color: #3d99dd;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-bottom: 1px solid #3d99dd;
}

li {
    text-align: left;
}