.link_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-bottom: 50px;
    column-gap: 50px;
    margin: auto;
}

.link {
    margin: 0 20px;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    transition: all 350ms ease-in-out;
}

.link_display {
    display: flex;
    flex-direction: column;
}

.link_mail {
    color: black;
    font-size: 50px;
}

.link_linkedin {
    color: blue;
    font-size: 50px;
}

.link_malt {
    position: relative;
    top: 5px;
    left: 0;
    font-size: 40px;
    color: salmon;
}

.link_github {
    color: black;
    font-size: 50px;
}

.link:hover {
    color: #3d99dd;
    transition: all 350ms ease-in-out;
}

.link_description {
    color: rgb(0, 34, 74);
    font-weight: bold;
    padding: 10px 20px;
    text-shadow: 0 0 3px #3d99dd;
}

@media screen and (max-device-width: 1080px) {
    .link_wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 50px;
    }
}