header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    background-color: whitesmoke;
    border-bottom: 2px solid rgb(70, 196, 255);
    box-shadow: 0 0 8px black;
}

h1 {
    display: inline-flex;
    margin: 0;
    padding: 0 auto;
    color: rgb(70, 196, 255);
    font-size: 30px;
    line-height: 38px;
    text-shadow: 0 0 2px black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.link {
    margin: 0 20px;
    color: black;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    transition: all 350ms ease-in-out;
}

.link:hover {
    color: rgb(70, 196, 255);
    transition: all 350ms ease-in-out;
}

.link_navigation {
    font-size: 30px;
    line-height: 38px;
}

.link_social {
    font-size: 30px;
    line-height: 38px;
}

@media screen and (max-device-width: 992px) {
    nav {
        justify-content: space-between;
    }

    .link {
        margin: 0 5px;
        text-align: left;
    }

    .link_navigation {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .link_social {
        display: flex;
        flex-direction: row;
    }

    h1 {
        font-size: 20px;
        font-weight: normal;
        text-shadow: 0 0 1px black;
    }
}