footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    background: whitesmoke;
    border-top: 2px solid #3d99dd;
    box-shadow: 0 0 8px black;
}

span {
    color: #3d99dd;
    font-size: 20px;
    line-height: 28px;
    padding-top: 5px;
}

.link {
    margin: 0 20px;
    font-size: 30px;
    line-height: 38px;
    text-decoration: none;
    transition: all 350ms ease-in-out;
}

.link_linkedin {
    color: blue;
}
.link_malt {
    position: relative;
    top: -7px;
    left: 0;
    font-size: 20px;
    color: salmon;
}
.link_github {
    color: black;
}
.link:hover {
    color: #3d99dd;
    transition: all 350ms ease-in-out;
}